<!doctype html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>Message Publisher</title>
</head>

<body>
    <h3>Published Messages</h3>
    <table id="mesg-tbl">
    </table>
    <div>
        <input id="mesg-text" type="text" name="mesg" autocomplete="off" />
        <button id="send-btn">Send</button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="script.js"></script>
</body>

</html>